# FILEPATH: /c:/ImportantShit/VisualStudioCode/NigusFigus/NigusFigus/.gitignore
# BEGIN: abpxx6d04wxr
node_modules
config.json
.eslintrc.json
.env
.ogg
commands/music/output.ogg
commands/music/eqOutput.ogg
commands/music/schedulers.json
# END: abpxx6d04wxr
