# FILEPATH: /c:/ImportantShit/VisualStudioCode/NigusFigus/NigusFigus/.gitignore
# BEGIN: abpxx6d04wxr
node_modules
config.json
.eslintrc.json
.env
commands/music/schedulers.json
.ogg
# END: abpxx6d04wxr
